.fa-user-circle {
    color: rgb(94, 94, 94) !important;
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
    font-size: 60px;
}

.header-bar {
	background-color: rgb(12, 64, 161) !important; height: 60px !important;
}

.header-bar .back-icon {
	float: left; 
	margin-top: 20px; 
	margin-left: 15px; 
	color: white;
}

.header-bar .page-detail {
	color: white;    
	letter-spacing: 2px;
	font-weight: 100; 
	font-size: 17px; 
	margin-top: 8px;
    text-shadow: none;
}

.cart-contonier {
     background-color: rgb(255, 255, 255);
     width: 100%;
     margin: 1px auto 30px;
     margin-top: -40px;
 }
 
 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }
 
 .cart-contonier .main-content {
     width: 100%;
     float: left;
     /* border: 1px solid grey;
            background: rgb(241, 240, 240); */
 }
 
 .cart-contonier .main-content .cart {
     width: 100%;
     height: 169px;
     margin: 10px auto;
     /* background: rgb(247, 247, 247); */
     background: rgb(247, 251, 255);
     position: relative;
     box-shadow: 0 4px 4px 0 rgba(182, 181, 181, 0.2), 0 6px 10px 0 rgba(161, 161, 161, 0.19);
     /* border: 1px solid rgb(236, 236, 236) !important; */
     border: 1px solid rgb(188, 208, 247) !important;
 }
 .cart-contonier .main-content .cart .selector {
     /* margin-top: 520p; */
     background-color: white !important;
     /* width: 2%; */
     /* border: 1px solid rgb(7, 56, 56) !important; */
 }

 .ui-checkbox, .ui-radio {
    margin: 0 0 !important;


}
 
 .cart-contonier .main-content .cart .cart-image {
     width: 30%;
     height: 82%;
     float: left;
     margin-top: 6px;
     margin-left: 2px;
     margin-bottom: auto;
     border: 1px solid rgb(190, 189, 189) !important;
 }
 
 .cart-contonier .main-content .cart .cart-detail {
     width: 55%;
     padding: 9px;
     float: right;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-category {
     font-size: 12px;
     color: rgb(95, 95, 95);     
     margin-top: 10px;

 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-name {
     margin-top: -10px;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-color {
     font-size: 12px;
     margin-top: -19px;
     font-weight: 600;
     color: rgb(95, 95, 95);
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-delivery {
     font-size: 11px;
     margin-top: 18px;
     font-weight: 600;
     color: rgb(66, 66, 66);
 }
 
 .cart-contonier .main-content .cart .cart-detail .buy-btn {
     background-color: transparent !important;
     /* border: 1px solid rgb(22, 69, 158) !important; */
     border: 1px solid rgb(86, 132, 216) !important;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease 0s;
     cursor: pointer;
     color: rgb(45, 100, 202) !important;
     float: right;
     font-size: 12px;
     margin-top: -29px;
     margin-right: 0px;
     width: 87px;
     height: 28px;
     letter-spacing: 1px;
     border-radius: 12px;
     font-weight: 300;
 }
 
 .cart-contonier .main-content .cart .cart-detail .buy-btn:hover {
     /* border: 1px solid rgb(8, 8, 8) !important; */
     background-color: rgb(32, 93, 207) !important;
     color: white !important;
     letter-spacing: 1px;
     opacity: 0.9;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-price {
     float: right;
     padding: 2px;
     margin-right: -92px;
     margin-top: 9px;
     font-weight: 600;
 }
 
 .qty-container {
     margin-top: 6px;
     width: 32%;
     display: inline-flex;
 }
 
 input[type=number] {
     text-align: center;
 }
 
 .inputWrapper {
     width: 40px;
     height: 28px;
     margin-left: 24px;
     text-align: center;
     font-size: 12px;
     border: 1px solid rgb(188, 208, 247) !important;
     text-shadow: none!important;
 }
 
 .qty-lable {
     float: left;
     font-size: 12px;
     font-weight: 600 !important;
 }

 .close-icon {
    font-size:21px; 
    float: right; 
    margin-top: -40px;
    color: rgb(145, 144, 144);
 }

 .close-icon:hover {
    color: rgb(85, 84, 84);
    transition: all 0.3s ease 0s;
 }

 .shipping-detail {
    font-size: 11px;
    width: 30%;
    margin-left: 22px;
    text-align: center;
    margin-top: 150px;
    color: rgb(10, 71, 128);
    font-weight: 100;
}


/* footer */

.all-buy-btn {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255) !important; height: 50px !important;
    border: 1px solid rgb(244, 245, 245) !important;
    margin: 0 0;
    width: 100%;
    padding: 0 0;
}

.all-buy-btn .all-select-section {
    width: 14%;float: left;margin-left: 16px;
}

.all-select {
    margin-top: 16px;
    margin-left: 36px;
    font-weight: 100;
}

.buy-area {
    width: 60%;
    float: right;
    margin: 0 0;
}
.total-price {
    margin: 0 0;
    margin-top: 16px;
    text-align: left;
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 600;
}

.all-buy-btn .buy-btn {
    width: 20%;
    float: right;
    height: 50px !important;
    margin: 0 0;
    margin-top: -37px;
    width: 110px !important;
    background-color: rgb(44, 104, 216) !important;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 200;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.all-buy-btn .buy-btn:hover {
    background-color: rgb(23, 79, 184) !important;
    color: white;
}

.fa-tags:hover {
    transition: all 0.3s ease 0s;
    color: rgb(107, 107, 107) !important;
}

.ui-checkbox {
    background-color: white !important;
} 

/* navigation bar */

.ui-btn {
    line-height: 2.3 !important;
    font-family: sans-serif;
    font-size: 15px !important;
	background-color: white !important;
	border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
}

.ui-btn-active {
    background-color: white !important;
    color: rgb(21, 98, 146) !important;
    text-shadow: none !important;
	border-color: transparent !important;
	border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
	text-shadow: none !important;
	box-shadow: none !important;
}


/* .minus-btn {
    height: 15px !important;
    width: 10px !important;
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 0 0 0 0;
} */

.qty-space{
    height: 20px !important;
    width: 50px !important;
    margin-top: 0px !important;
    text-align: center !important;
    font-size: 10px !important;
    border: 1px solid rgb(98, 180, 207);

}

.minus-bg-dark {
    padding: 2px 2px;
    background: white;
    border: 1px solid rgb(98, 180, 207);
    height: 16px;
}

.plus-bg-dark {
    padding: 1px 2px;
    background: white;
    border: 1px solid rgb(98, 180, 207);
    height: 18px;
}

.fa-minus-circle {
    margin-top: 6px;
    margin-right: 4px;
    color: rgb(105, 105, 105);
    font-size: 13px;
}

.fa-plus-circle {
    margin-top: 6px;
    margin-left: 4px;
    color: rgb(105, 105, 105);
    font-size: 13px;
}

.fa-minus-circle:hover {
    color: rgb(51, 51, 51);
}

.fa-plus-circle:hover {
    color: rgb(51, 51, 51);
}

@media all and (min-width: 40em) {
    .cart-contonier .main-content .cart {
        width: 65%;
    }

    .buy-area {
        width: 70%;
    }

    .cart-contonier .main-content .cart .cart-detail {
        width: 59%;
        padding: 10px;
        float: right;
    }

    .cart-contonier .main-content .cart .cart-detail .cart-category {
        margin-top: 6px;
    }

    .cart-contonier .main-content .cart .cart-detail .buy-btn {
        margin-right: 15px;
    }

    input[type=number] {
        width: 48px !important;
    }

    
}