 .cart-contonier {
     background-color: rgb(255, 255, 255);
     width: 100%;
     margin: 1px auto 30px;
 }
 
 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }
 
 .cart-contonier .main-content {
     width: 100%;
     float: left;
     /* border: 1px solid grey;
            background: rgb(241, 240, 240); */
 }
 
 .cart-contonier .main-content .cart {
     width: 97%;
     height: 166px;
     margin: 10px auto;
     background: rgb(247, 247, 247);
     position: relative;
     box-shadow: 0 4px 4px 0 rgba(182, 181, 181, 0.2), 0 6px 10px 0 rgba(161, 161, 161, 0.19);
     border: 1px solid rgb(236, 236, 236) !important;
 }
 
 .cart-contonier .main-content .cart .cart-image {
     width: 30%;
     height: 80%;
     float: left;
     margin-top: 14px;
     margin-left: 10px;
     margin-bottom: auto;
     border: 1px solid rgb(190, 189, 189) !important;
 }
 
 .cart-contonier .main-content .cart .cart-detail {
     width: 60%;
     padding: 10px;
     float: right;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-category {
     font-size: 12px;
     color: rgb(95, 95, 95);
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-name {
     margin-top: 5px;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-color {
     font-size: 12px;
     margin-top: -15px;
     font-weight: 500 !important;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-delivery {
     font-size: 11px;
     margin-top: -5px;
 }
 
 .cart-contonier .main-content .cart .cart-detail .buy-btn {
     /* background-color: transparent !important; */
     /* background-color: rgb(255, 255, 255);
     border: 1px solid rgb(199, 1, 1) !important;
     color: rgb(199, 1, 1) !important; */
     background-color: transparent !important;
     border: 1px solid rgb(22, 69, 158) !important;
     color: rgb(22, 69, 158) !important;
     float: right;
     font-size: 12px;
     margin-top: -29px;
     margin-right: 5px;
     width: 88px;
     height: 29px;
     letter-spacing: 1px;
     border-radius: 5px;
 }
 
 .cart-contonier .main-content .cart .cart-detail .buy-btn:hover {
     background-color: rgb(22, 69, 158) !important;
     color: white !important;
     letter-spacing: 1px;
 }
 
 .cart-contonier .main-content .cart .cart-detail .cart-price {
     float: right;
     padding: 2px;
     margin-right: -90px;
     margin-top: 9px;
 }
 
 .qty-container {
     width: 25%;
 }
 
 input[type=number] {
     text-align: center;
 }
 
 .inputWrapper {
     width: 40px;
     height: 28px;
     margin-left: 20px;
     text-align: center;
     font-size: 12px;
 }
 
 .qty-lable {
     float: left;
     font-size: 12px;
 }