.content-body {
	background-color: rgb(245, 245, 245) !important;
	}

/* Top bar */

.top-header {
	width: 100%;
	height: 60px;
	margin: 1px auto;
	border-radius: 5px;
	background: white;
	position: relative;
	}

.top-header .share-btn {
	background-color: transparent !important;
	border: 1px solid rgb(6, 6, 68) !important;
	color: rgb(6, 6, 68) !important;
	float: right;
	font-size: 12px;
	margin-top: 12px;
	margin-right: 20px;
	}

.top-header .share-btn:hover {
	background-color: rgb(6, 6, 68) !important;
	color: white !important;
	}


/* CONTENT */

.content {
	width: 100%;
	margin: 1px auto 30px;
	/* border: 1px solid red; */
	}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	}

.content .f-main-content {
	width: 100%;
	float: left;
	/* border: 1px solid grey;
			background: rgb(241, 240, 240); */
	}

.content .f-main-content .post {
	width: 97%;
	height: 200px;
	margin: 10px auto;
	background: white;
	position: relative;
	box-shadow: 0 4px 4px 0 rgba(214, 213, 213, 0.2), 0 6px 10px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(224, 224, 224) !important;
	
	
	}

.content .f-main-content .post .post-image {
	width: 30%;
	height: 70%;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: auto;
	}

.content .f-main-content .post .post-preview {
	width: 60%;
	padding: 10px;
	float: right;
	margin-top: -10px;
	}

.content .f-main-content .post .post-preview .store-detail {
	color: rgb(6, 6, 68);
	}

.content .f-main-content .post .post-preview .price-tag {
	margin-top: 19px;
	}

.content .f-main-content .post .post-preview .heart-icon {
	float: right;
	font-size: 30px;
	margin-top: -49px;
	color: rgb(219, 15, 15);
	}

.content .f-main-content .favourite-title {
	margin: 20px;
	}

.inputWrapper {
	width: 30%;
	float: left;
	margin-left: 10px;
	margin-top: 12px;
	font-size: 12px;
	height: 35px;
	}