.header-bar {
	background-color: rgb(12, 64, 161) !important;
	height: 60px !important;
}

.header-bar .back-icon {
	float: left;
	margin-top: 22px;
	margin-left: 15px;
	color: white;
}

.header-bar .page-detail {
	color: white;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 17px;
	margin-top: 8px;
	text-shadow: none !important;
}

#submitBtn {
	background-color: rgb(12, 64, 161) !important;
	color: white;
	text-shadow: none;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

#feedbackContainerB {
	width: 250px !important;
	margin-left: auto;
	margin-right: auto;
}

.starRating {
	font-size: xx-large !important;
	color: #5f6264;
}

.questionStar {
	color: #db4437;
}

@media all and (min-width: 40em) {
	#feedbackContainerA {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		font-size: 150%;
	}
	
	.starRating {
		font-size: 45px !important;
	}
	
	.question, .questionStar {
		font-size: 20px;
	}
	
	#submitBtn {
		font-size: 20px;
		width: 280px;
		border-radius: 40px;
	}
}
