body {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 500;
}

.content-body {
	background-image: linear-gradient(rgb(87, 75, 247), rgb(8, 167, 241)) !important;
	height: 800px !important;
}

.intro-container {
	margin-top: 100px;
	padding: 20px 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(54, 144, 197, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
}

.step-count-text {
	text-shadow: 4px 4px 10px rgb(32, 32, 32);
	color: white;
	text-align: center;
	font-weight: 500;
	margin-top: 100px;
}

.next-btn {
	width: 150px !important;
	height: 50px !important;
	text-shadow: none;
	color: rgb(255, 255, 255) !important;
	background-color: rgb(245, 213, 35) !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	border: none;
	border-radius: 45px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	letter-spacing: 2.5px;
	font-weight: 500;
}

.next-btn:hover {
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	transform: translateY(-7px);
	cursor: pointer;
	outline: none;
	letter-spacing: 2.5px;
	font-weight: 500;
}

.instruction-txt {
	margin-top: 5px;
	color: white;
	font-size: 19px;
	text-align: center;
	font-weight: 100 !important;
	font-family: 'Montserrat', sans-serif !important;
	text-shadow: none;
}

.tip-one-image {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 300px;
}

.dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: rgb(229, 226, 226);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.dot:hover {
	background-color: rgb(167, 166, 166);
}

.selected-dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: rgb(12, 81, 116);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.selected-dot:hover {
	background-color: rgb(19, 100, 141);
}

.skip-btn {
	background-color: transparent !important;
	border: 1.75px solid rgb(253, 219, 24) !important;
	color: white !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	letter-spacing: 2px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	width: 105px !important;
	float: right;
	height: 45px !important;
	font-family: 'Roboto', sans-serif !important;
    text-shadow: none;
}

.skip {
	color: white !important;
	float: right;
	letter-spacing: 2px;
	font-weight: 500;
	margin-right: 25px;
	font-family: 'Roboto', sans-serif !important;
}