/* Basic styles */
h3, h4, p {
	margin: 0;
}

.rwd-example .ui-body {
	text-align: left;
	border-color: #ddd;
}

.rwd-example p {
	color: #777;
}

/* Stack all blocks to start */
.rwd-example .ui-block-a,
.rwd-example .ui-block-b {
	width: 100%;
}

/* Collapsing borders */
.rwd-example > div + div .ui-body {
	border-top-width: 0;
}

/* 1st breakpoint - A in top, B in bottom*/
@media all and (min-width: 20em) {
	.rwd-example {
		overflow: hidden; /* Use this or a "clearfix" to give the container height */
	}
	
	.rwd-example .ui-block-b {
		float: left;
	}
	
	.rwd-example .ui-block-b p {
		font-size: .8em;
	}
	
	.rwd-example > div + div .ui-body {
		border-top-width: 1px;
	}
	
	.rwd-example > div:first-child .ui-body {
		border-bottom-width: 0;
	}
	
	.rwd-example > div:last-child .ui-body {
		border-left-width: 0;
	}
	
	.product-image {
		width: 100%;
	}
}

/* 2nd breakpoint - Float, 60,40 */
@media all and (min-width: 40em) {
	.rwd-example .ui-body {
		/*min-height: 18em;*/
	}
	
	.rwd-example .ui-block-a {
		float: left;
		width: 50%;
	}
	
	.rwd-example .ui-block-b {
		float: left;
		width: 50%;
	}
	
	.rwd-example > div:first-child .ui-body {
		border-bottom-width: 1px;
	}
	
	.rwd-example > div + div .ui-body {
		border-left-width: 0;
	}
	
	.product-image {
		width: 100%;
	}
}

/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 75em) {
	.rwd-example .ui-body {
		font-size: 125%;
	}
	
	.rwd-example .ui-block-a {
		float: left;
		width: 50%;
	}
	
	.rwd-example .ui-block-b {
		float: left;
		width: 50%;
	}
	
	.product-image {
		width: 100%;
	}
}

.suggestion-container {
	padding: 0 20px 10px 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.prod-img-container {
	padding: 0;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.prod-desk-container {
	padding: 0 0 5px 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.checked {
	color: orange;
}