/* Basic styles */
h3, h4, p {
	margin: 0;
}

.loaderText {
	margin-left: 50px !important;
}

.rwd-example .ui-body {
	text-align: left;
	border-color: #ddd;
}

.rwd-example p {
	color: #777;
}

/* Stack all blocks to start */
.rwd-example .ui-block-a,
.rwd-example .ui-block-b {
	width: 100%;
}

/* Collapsing borders */
.rwd-example > div + div .ui-body {
	border-top-width: 0;
}

/* 1st breakpoint - A in top, B in bottom*/
@media all and (min-width: 20em) {
	.rwd-example {
		overflow: hidden; /* Use this or a "clearfix" to give the container height */
	}
	
	.rwd-example .ui-block-b {
		float: left;
	}
	
	.rwd-example .ui-block-b p {
		font-size: .8em;
	}
	
	.rwd-example > div + div .ui-body {
		border-top-width: 1px;
	}
	
	.rwd-example > div:first-child .ui-body {
		border-bottom-width: 0;
	}
	
	.rwd-example > div:last-child .ui-body {
		border-left-width: 0;
	}
	
	.product-image {
		width: 100%;
	}
}

/* 2nd breakpoint - Float, 60,40 */
@media all and (min-width: 40em) {
	.rwd-example .ui-body {
		/*min-height: 18em;*/
	}
	
	.rwd-example .ui-block-a {
		float: left;
		width: 50%;
	}
	
	.rwd-example .ui-block-b {
		float: left;
		width: 50%;
	}
	
	.rwd-example > div:first-child .ui-body {
		border-bottom-width: 1px;
	}
	
	.rwd-example > div + div .ui-body {
		border-left-width: 0;
	}
	
	.product-image {
		width: 100%;
	}
	
	.favPopup {
		font-size: large !important;
	}
}

/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 75em) {
	.rwd-example .ui-body {
		font-size: 125%;
	}
	
	.rwd-example .ui-block-a {
		float: left;
		width: 50%;
	}
	
	.rwd-example .ui-block-b {
		float: left;
		width: 50%;
	}
	
	.product-image {
		width: 100%;
	}
	
	.favPopup {
		font-size: large !important;
	}
}

.suggestion-container {
	padding: 0 20px 10px 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.prod-img-container {
	padding: 0;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.prod-desk-container {
	padding: 5px 0 5px 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.checked {
	color: orange;
}

/*.starRating{
	font-size: 13px !important;
}*/

.header-bar {
	background-color: rgb(12, 64, 161) !important;
	height: 60px !important;
}

.header-bar .back-icon {
	float: left;
	margin-top: 22px;
	margin-left: 15px;
	color: white;
}

/*.header-bar .share-icon {
	float: right;
	!*margin-top: 22px;
	margin-left: 15px;
	color: white;*!
}*/

.header-bar .page-detail {
	color: white;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 17px;
	margin-top: 8px;
	text-shadow: none !important;
}

#priceUnit {
	color: #1b1b1b;
	font-weight: 500;
	font-size: x-large;
	margin-right: 10px;
}

#priceDisplay {
	color: #1b1b1b;
	font-weight: 500;
	font-size: x-large;
}

#offerDisplay {
	color: #db4437;
	font-weight: bold;
	font-size: medium;
}

#productName {
	color: #1b1b1b;
	font-weight: 500;
	font-size: large;
	display: contents !important;
}

#descriptionDisplay {
	color: #5f6264;
	font-weight: normal;
	font-size: medium;
	margin-top: 5px;
}

#ratingDisplay {
	color: #1b1b1b;
	font-weight: 400;
	font-size: x-large;
}

#ratingDisplayTotal {
	color: #5f6264;
	font-weight: 300;
	font-size: medium;
	/*margin-right: 20px;*/
}

#noOfOrdersDisplay {
	margin-left: 5px;
	color: #5f6264;
	font-weight: 300;
	font-size: medium;
}

#labelOrders {
	color: #5f6264;
	font-weight: 300;
	font-size: medium;
}

#labelStore {
	color: #1b1b1b;
	font-size: medium;
}

#storeName {
	color: #005599;
	font-weight: 400;
	font-size: medium;
	text-decoration: underline;
}

#reviewAndQAContainer {
	margin-top: 5px;
}

#viewQandA {
	color: #005599;
	font-size: medium;
	text-decoration: underline;
}

#viewReviews {
	color: #005599;
	font-size: medium;
	text-decoration: underline;
	/*margin-right: 56px;*/
}

.btnCartAndBuy {
	font-size: small !important;
	color: whitesmoke !important;
	background-color: #005599 !important;
	border-color: #3b5998 !important;
	width: 80% !important;
	text-shadow: none !important;
	border-radius: 20px;
}

#favouriteIcon {
	font-size: x-large;
	padding-right: 20px;
}

#favouriteLabel {
	font-size: large;
	font-weight: 100;
}

#favContainer {
	float: right;
}

#closeBtnSlideshow{
	background-color: #005599;
}

.slideshowBtn:hover {
	background-color: transparent !important;
}


/*suggestions*/

div.scrollmenu {
	overflow: auto;
	/* white-space: nowrap; */
	height: 273px;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: rgb(255, 255, 255);
}

.carosol-today-deal {
	margin-top: -3px;
	margin-bottom: 0px;
}

.card-view {
	width: 166px;
	height: 264px;
	border: 1px solid rgb(86, 132, 216) !important;
	background-color: white;
}

.card-image {
	width: 88%;
	/* height: 60%; */
	height: 137px;
	margin-right: auto;
	margin-left: auto;
	display: block !important;
	margin-top: 5px;
	/* border-bottom: 1px solid rgb(27, 113, 163); */
	
	/* margin-bottom: 5px; */
}

.card-body {
	padding: 3px 3px !important;
}

.product-name {
	text-align: center;
	font-weight: 600;
	padding-left: 2px;
	padding-right: 2px;
}

.card-view .price-tag {
	margin-top: 10px;
	font-size: medium;
	font-weight: 700;
	text-align: center;
	color: rgb(12, 64, 161)
}

.discount {
	margin-right: auto;
	margin-left: auto;
	margin-top: -13px;
	margin-bottom: 0;
	display: block !important;
	text-align: center !important;
	background-color: rgb(236, 42, 42);
	color: white;
	width: 40%;
	padding: 0px 1px 1px 1px;
	border-radius: 10px;
	text-shadow: none !important;
}

.product-hr {
	padding: 0;
	/* margin: 6px; */
	margin-top: 5px;
	margin-bottom: -3px;
	width: 90%;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	border-top: 1px solid rgb(38, 126, 197);
}

.gap-product {
	padding-right: 1px !important;
}