.logo-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -3px;
}

.login-container {
	margin-top: 40px;
	padding: 20px 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(214, 213, 213, 0.2), 0 12px 20px 0 rgba(185, 183, 183, 0.19);
	border: 1px solid rgb(86, 132, 216) !important;
}

.inputWrapper {
	border: 1px solid rgb(86, 132, 216) !important;
	color: black;
	font-size: 14px;
	font-weight: 100;
}

/* .nameWrapper { 
    width: 47% !important;
} 

.lname {
margin-left: 753px;
margin-top: -60px;
}

.line-field {
    width: 100%;
} */

p {
	text-align: center;
	font-size: 12px;
	font-weight: 100;
}

input[type=email] {
	padding: 8px 15px;
	margin: 8px 0;
}

input[type=password] {
	padding: 8px 15px;
	margin: 8px 0;
}

input[type=tel] {
	padding: 8px 15px;
	margin: 8px 0;
}

input[type=text] {
	padding: 8px 15px;
	margin: 8px 0;
}

textarea {
	padding: 12px 15px;
	margin: 8px 0;
}

.button4 {
	border-radius: 12px;
	padding: 8px 15px;
	margin: 8px 0;
}

.reg-btn {
	background-color: rgb(22, 69, 158) !important;
	color: white !important;
	font-weight: 200;
	height: 50px !important;
	text-shadow: none !important;
}

.reg-btn:hover {
	background-color: rgb(24, 61, 131) !important;
	color: white !important;
	font-weight: 200;
	height: 50px !important;
}

.sign-face-book-btn {
	background-color: #3b5998 !important;
	letter-spacing: 2px;
	color: white !important;
	font-weight: 200;
	border-radius: 15px !important;
	font-size: 10px !important;
	/* width: 300px !important; */
	height: 34px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sign-face-book-btn:hover {
	background-color: #334f8b !important;
	color: white !important;
	font-weight: 200;
	border-radius: 15px !important;
	font-size: 10px !important;
	/* width: 300px !important; */
	height: 34px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sign-google-acc-btn {
	background-color: #db4437 !important;
	letter-spacing: 2px;
	color: white !important;
	font-weight: 100;
	font-size: 10px !important;
	border-radius: 15px !important;
	height: 34px !important;
	/* width: 300px !important; */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sign-google-acc-btn:hover {
	background-color: rgb(201, 51, 37) !important;
	color: white !important;
	font-weight: 100;
	font-size: 10px !important;
	border-radius: 12px !important;
	/* width: 300px !important; */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.aggrement-text {
	font-size: 13px !important;
	color: black;
}

.main-content {
	color: rgb(22, 69, 158) !important;
}

.sign-up-with-text {
	font-size: 19px !important;
}

.sign-in-with-text {
	font-size: 13px !important;
	margin-top: 30px;
}

i {
	margin-left: 10px;
}

.signup-welcome {
	font-size: 15px;
	letter-spacing: 4px;
	font-weight: 400;
	color: rgb(12, 79, 202);
	text-shadow: none;
	margin-bottom: 3px;
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid rgb(119, 164, 247);
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* text-align: center !important; */
}

.welcome-txt {
	font-size: 20px;
	letter-spacing: 1px;
	/* float: left; */
	font-weight: 600;
	color: rgb(1, 13, 27);
	margin-bottom: 0px;
	margin-top: 0px;
}

@media all and (min-width: 20em) {
	.grid-a-ui {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.grid-c-ui {
		width: 78%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: 40em) {
	.grid-a-ui {
		width: 85%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.grid-a-ui .aggrement-text {
		font-size: 15px !important;
	}
	
	.logo-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: -3px;
		height: 120px;
		width: 50px;
	}
	
	.sign-in-with-text {
		font-size: 15px !important;
	}
	
	.signup-welcome {
		margin-bottom: 15px;
		font-size: 20px !important;
		width: 85%;
	}
	
	.grid-c-ui {
		width: 55%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
