.header-bar {
	background-color: rgb(12, 64, 161) !important;
	height: 60px !important;
}

.header-bar .back-icon {
	float: left;
	margin-top: 22px;
	margin-left: 15px;
	color: white;
}

.header-bar .page-detail {
	color: white;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 17px;
	margin-top: 8px;
	text-shadow: none;
}

.review-block-a {
	width: 40%;
	float: left;
	border: none;
}

.review-block-b {
	border: none;
	width: 60%;
	float: right;
}

.starRating {
	font-size: 13px !important;
}

#ratingDisplay {
	color: #1b1b1b;
	font-weight: 400;
	font-size: xx-large;
}

#ratingDisplayTotal {
	color: #5f6264;
	font-weight: 300;
	font-size: medium;
	/*margin-right: 20px;*/
}

#noOfOrdersDisplay {
	margin-left: 5px;
	color: #5f6264;
	font-weight: 300;
	font-size: medium;
}

#labelOrders {
	color: #5f6264;
	font-weight: 300;
	font-size: medium;
}

.ratingCount {
	font-size: small;
}

.filterContainer {
	padding: 0;
}

.reviewUserName {
	font-size: small;
	font-weight: 500;
	color: #5f6264;
}

.reviewComment {
	font-size: smaller;
	color: black;
}

.reviewListItem {
	padding-bottom: 0 !important;
}

/* Three column layout */
.side {
	float: left;
	width: 15%;
	margin-top: -3px;
}

.middle {
	margin-top: 5px;
	float: left;
	width: 70%;
}

/* Place text to the right */
.right {
	text-align: right;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The bar container */
.bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
}

/* Individual bars */
.bar-5 {
	width: 60%;
	height: 6px;
	background-color: #4caf50;
}

.bar-4 {
	width: 30%;
	height: 6px;
	background-color: #2196f3;
}

.bar-3 {
	width: 10%;
	height: 6px;
	background-color: #00bcd4;
}

.bar-2 {
	width: 4%;
	height: 6px;
	background-color: #ff9800;
}

.bar-1 {
	width: 15%;
	height: 6px;
	background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 80px) {
	.side, .middle {
		width: 100%;
	}
	
	.right {
		display: none;
	}
}

/* navigation bar */

.ui-btn {
	line-height: 2.3 !important;
	font-family: sans-serif;
	font-size: 15px !important;
	background-color: white !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
	border-top-width: 0px !important;
	border-bottom-width: 0px !important;
}

.ui-btn-active {
	background-color: white !important;
	color: rgb(21, 98, 146) !important;
	text-shadow: none !important;
	border-color: transparent !important;
	border-width: 0 !important;
	box-shadow: none !important;
}

.checked {
	color: orange;
}